.btn {
    position: fixed;
    top: 24px;
    left: 10px;
    z-index: 1000;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: left 0.3s ease-in-out;
}

.btn_open {
    left: calc(16% + 32px);
}

.btn:before {
    content: "";
    position: absolute;
    top: -40%;
    left: 10;
    display: block;
    border-radius: 50px;
    background: #b1dae7d0;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.btn span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    padding-top: 8px;
}

.btn svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-opacity: 1;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.btn:hover:before {
    width: 100%;
    background: #6da5b6e7;
}

.btn:hover svg {
    transform: translateX(0);
}

.btn:active {
    transform: scale(0.95);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9); 
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    padding-top: 220px;
}

.open {
    transform: translateX(0);
}

.nav_link {
    display: block;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-family: 'Roboto', sans-serif; /* Cambiar a una tipografía moderna */
    font-size: 18px;
    padding: 12px;
    transition: transform 0.3s ease-in-out;
    font-weight: 550;
}


.nav_link:hover {
    transform: translateX(8px);
    color: rgba(0, 135, 168, 0.9);
    width: 150px
}

.nav_img {
    width: 14vw;
    height: 130px;
    position: absolute;
    top: 50px;
    left: 48%;
    transform: translateX(-50%) rotateY(0deg);
    filter: drop-shadow(8px 4px 10px rgba(0, 0, 0, 0.658)); 
}

.nav_item {
    list-style: none;
}